{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block content %}
          <div class="col-md-12">
            {% include "sidebar.html" %}
            <div class="col-md-9">
              <div class="main-panel">
                <div class="header">
                  <div class="special-btn">
                      <button class="btn btn-security" onClick='window.location.href="{% url "security_settings_page" %}"'><img src="{{ STATIC_URL }}images/lock-24-alt.png"></img> Security Settings</button>
                  </div>
                  <h3><img src="{{ STATIC_URL }}images/user-48.png"></img>Account</h3>
                </div>
              </div>
              <div class="well-panel">
                <h3><img src="{{ STATIC_URL }}images/contact-48.png"></img> My Account</h3>
                <p><img src="{{ STATIC_URL }}images/my-email-24.png"></img> <a href="mailto:{{ request.user.email }}">{{ request.user.email }}</a></p>
                <p><img src="{{ STATIC_URL }}images/my-time-24.png"></img> Member since {{ request.user.last_login| date:"m/d/Y" }} </p>
                <p><button class="btn btn-danger btn-sm btn-cap-2" onClick='alert("Not implemented yet")'><img src="{{ STATIC_URL }}images/deactivate-16-alt.png"></img> Deactivate Account</button></p>
              </div>
            </div>

          </div>
{% endblock %}
