{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block content %}
          <div class="col-md-12">
            {% include "sidebar.html" %}
            <div class="col-md-9">
              <div class="main-panel">
                <div class="header">
                  <div class="special-btn">
                      <button class="btn btn-security btn-font" onClick='window.location.href="{% url "security_settings_page" %}"'><img src="{{ STATIC_URL }}/images/lock-24-alt.png"></img> Security Settings</button>
                  </div>
                  <h3 class="title-font"><img src="{{ STATIC_URL }}/images/user-48.png"></img>Account</h3>
                </div>
                <div class="well"></div>
              </div>
            </div>

          </div>
{% endblock %}
