{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title %}MofficeSuite Billing{% endblock title %}</title>
        <meta name="description" content="Moffice Suite Billing">
        <meta name="author" content="Hanbiro Inc.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'styles/vendor.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}"/>
        <script src="{% static 'scripts/vendor/modernizr.js' %}"></script>
        {% block extra_css %}{% endblock extra_css %}
    </head> 
    <body>
      <div class="container">
        {% block content %}
        <p>Project under heavy development</p>
        {% endblock content %}
      </div>
      <script src="{% static 'scripts/vendor.js' %}"></script> 
      <script src="{% static 'scripts/plugins.js' %}"></script> 
      <script src="{% static 'scripts/main.js' %}"></script>
      {% block extra_js %}{% endblock extra_js %}
    </body>
</html>
