{% extends "base.html" %}
{% block title %}Billing{% endblock %}
{% block content %}
          <div class="col-md-12">
            {% include "sidebar.html" %}
            <div class="col-md-9">
              <div class="main-panel">
                <div class="header">
                  <div class="special-btn">
                      <button class="btn btn-primary btn-cap" onClick='window.location.href="{% url "payment_page" %}"' >MAKE PAYMENT</button>
                  </div>
                  <h3><span class="icon-wallet"></span> Billing</h3>
                </div>
                <div class="well-panel">
                  <div class="my-balance">
                      <div class="current-balance {% if request.user.balance < 1.00 %}negative{% elif request.user.balance > 1.00 %}positive{% endif %}">
                      <h4>Your current balance</h4>
                      <h3>${{ request.user.balance }}</h3>
                      <a href="{% url "invoice_page" %}" target="_blank">View this month's usage and charges</a>
                    </div>
                  </div>
                  <div class="balance-history">
                    <h3><span class="icon-clock"></span> Billing History</h3>
                    <div class="balance-history-all">
                      <table class="table balance">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for invoice in invoices %}
                          <tr>
                            <td>{{ invoice.issued_date|date:"m/d/Y" }}</td>
                            <td>{{ invoice.description }}</td>
                            <td>${{ invoice.charged_amount }}</td>
                            <td><a href="{{ invoice.pdf_link }}" target="_blank" class="btn btn-xs"><span class="icon-paperclip"></span></a></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
