{% extends "base.html" %}
{% block title %}Support{% endblock %}
{% block content %}
          <div class="col-md-12">
            {% include "sidebar.html" %}
            <div class="col-md-9">
              <div class="main-panel">
                <div class="header">
                <h3><span class="icon-lightbulb"></span> Feedback</h3>
                </div>
                <div class="well-panel">
                  {% if form_message %}
                  <div class="alert alert-{{ form_message.type }}">
                      <p style="text-align: center">{{ form_message.message }}</p>
                  </div>
                  {% endif %}
                  <div class="feedback">
                    <div class="feedback-all">
                      <form role="form" action="{% url "feedback_page" %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="subject">Subject</label>
                          <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                        </div>
                        <div class="form-group">
                          <label for="feedback">Feedback</label>
                          <textarea rows="4" class="form-control" id="feedback" name="feedback" placeholder="Write your feedback here"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg btn-block btn-cap">SUBMIT</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
