{% extends "base.html" %}
{% block content %}
            <div class="row">
              <div class="forgot-form">
                <h3>Reset Password</h3>
                <form class="form-horizontal" role="form" action="{% url "login_page" %}" method="POST">
                  {% csrf_token %}
                  {% if next %}
                  <input type="hidden" name="next" value="{{ next }}">
                  {% endif %}
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email address">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary btn-lg btn-block btn-cap">RESET MY PASSWORD</button>
                    </div>
                  </div>
                </form>
                {% if form_message %}
                <div class="alert alert-danger">
                  <p style="text-align: center">{{ form_message.message }}</p>
                </div>
                {% endif %}
              </div>
            </div> 
{% endblock %}
