{% extends "base.html" %}
{% block content %}
            <div class="col-sm-offset-3 col-sm-6">
              <div class="login-form">
                <h3>Moffice Suite Account Management</h3>
                <form class="form-horizontal" role="form" action="{% url "login_page" %}" method="POST">
                  {% csrf_token %}
                  {% if next %}
                  <input type="hidden" name="next" value="{{ next }}">
                  {% endif %}
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email address">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary btn-lg btn-block btn-cap">Log In</button>
                    </div>
                  </div>
                </form>
                {% if form_message %}
                <div class="alert alert-danger">
                  <p style="text-align: center">{{ form_message.message }}</p>
                </div>
                {% endif %}
                <div class="forgot-div">
                  <p><a href="#">Forgot password?</a></p>
                </div>
                <div class="account-div">
                    <p>Don't have account? <a href="{% url "signup_page" %}">Sign-Up</a></p>
                </div>
              </div>
            </div> 
{% endblock %}
