{% extends "base.html" %}
{% block title %}Services{% endblock %}
{% block content %}
          <div class="col-md-12">
            {% include "sidebar.html" %}
            <div class="col-md-9">
              <div class="main-panel">
                <div class="header">
                  <div class="special-btn">
                    <button class="btn btn-primary" onClick='window.location.href="{% url "service_add_page" %}"'>ADD SERVICE</button>
                  </div>
                  <h3><span class="icon-cloud"></span> Services</h3>
                </div>
                <div class="well-panel">
                  <table class="table services">
                    <thead>
                      <tr>
                        <th style="width: 20%">Name</th>
                        <th>Plan</th>
                        <th>Users</th>
                        <th>Status</th>
                        <th>Disk</th>
                        <th>Last Modified</th>
                        <th style="text-align: right">Monthly charge</th>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      {% if not services %}
                      <tr class="warning">
                        <td colspan="7">You don't have services yet. For adding service, click above button to proceed.</td>
                      </tr>
                      {% endif %}
                      {% for service in services %}
                      <tr>
                      <td class="service-item"><a href="#">{{ service.hostname }}</a> <a href="http://{{ service.hostname }}.mofficesuite.com/" target="_blank" class="service-link"><span class="icon-attachment"></span></a></td>
                        <td>{{ service.plan }}</td>
                        <td>{{ service.users }}</td>
                        <td><div class="label label-success">Active</div></td>
                        <td>{{ service.disk_size }} GB</td>
                        <td>{{ service.updated_at|date:'m/d/Y H:i:s' }}</td>
                        <td align="right">${{ service.current_bill }}</td>
                        <td></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    {% if services %}
                    <tfoot>
                      <tr>
                        <td colspan="6"></td>
                        <td align="right"><strong>Total ${{ request.user.get_current_state_bill }}</td>
                        <td></td>
                      </tr>
                    </tfoot>
                    {% endif %}
                  </table>
                </div>
              </div>
            </div>

          </div>
{% endblock %}
