{% extends "base.html" %}
{% block content %}
            <div class="col-sm-offset-3 col-sm-6">
              <div class="signup-form">
                <h3>Create your Moffice Suite Account</h3>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email address">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary btn-lg btn-block btn-cap">Sign Up</button>
                    </div>
                  </div>
                </form>
                <div class="accept-div">
                  <p>By signing up, you agree to the <a href="#">Terms of Service</a></p>
                  <p>Already have an account? <a href="{% url "login_page" %}">Sign In</a></p>
                </div>
              </div>
            </div> 
{% endblock %}
